

html,body{
    height:100%;
    font-family: Raleway;
}

.description {

margin-top: 110px ; 

}


.bigText{
    font-size: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.mediumText{
    font-size:2.8em; 
}



p{
    font-size:1.3em;
}


p.secondHeadline{
    color:#9E9E9E;
    padding-left: 20px;
    padding-right: 20px;
}
.blockRel{
    position: relative;
    display: block;
}

.centered{
    text-align: center;
    align-content: center;
    align-items: center;
}

.normal{
    color:black;
}

.footer{
    color:#9E9E9E;
    font-size: 1em;
    padding-bottom:10px;
}



.paddingTopped{
    padding-top: 70px;
}

.paddingToppedSmall{
    padding-top: 20px;
}

.paddingBottom{
    padding-bottom: 20px;
}

a{

 /*color : lightcoral  ; */ 

color : lightblue;

}

a:hover{
    text-decoration: none; 
    color : #9E9E9E ;
}


a.email {

color: #ffbf7f;

  
}
a:hover.email{

color : #9E9E9E ; 

}

a.github {

color : black ;

}

a:hover.github{
 
color : #9E9E9E ; 
}

a.twitter {

color : #4099FF;

}

a:hover.twitter{
color : #9E9E9E ; 
}

a.medium {

color : lightgreen;

}

a:hover.medium{
  color : #9E9E9E ; 
}



.iconFooter{
    font-size: 2.5em;
}


.margin {

/*margin-top: -300px*/ 


}

.img-size {

width : 250px;

height : 250px;

margin-left : -50px;

}