

html,body{
    height:100%;
    font-family: Raleway;
}


ul{

    font-size: 20px; 
}

#projects{

    height: 1px; 

    margin-top: 250px;


}

.project_text{

    font-size: 40px;  
}

.bio{

    font-size: 25px;

    margin-top: 70px;  

}

p.bio{
    word-wrap: break-word;
}


#menu-icon {

    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url(../img/menu-icon.png) center;

}

.social_icon{

    padding-right: 25px;

     
}

.social_icon1{

    padding-left: 25px;

}

.icon_size{
 
 font-size: 15px; 

 padding-top: 20px; 

}


a:hover#menu-icon {

    background-color: #444;
    border-radius: 4px 4px 0 0;

}

@media only screen and (max-width : 640px) {


    #menu-icon {

        display:inline-block;

    }
}








a{

 color : lightcoral  ;  
 
/*color : lightblue;*/ 
}



a:hover{
    text-decoration: none; 
    color : #9E9E9E ;
}


a.email {

color: #ffbf7f;

  
}
a:hover.email{

color : #9E9E9E ; 

}

a.github {

color : black ;

}

a:hover.github{
 
color : #9E9E9E ; 
}

a.twitter {

color : #4099FF;

}

a:hover.twitter{
color : #9E9E9E ; 
}

a.medium {

color : lightgreen;

}

a:hover.medium{
  color : #9E9E9E ; 
}



.iconFooter{
    font-size: 2.5em;
}












  